<%- include("partials/header2") -%>
<br>
<br>
<br>
<form method="post" action="/addRecipe">
<div class="form-group">
<label>Recipe Title</label>
<input class="form-control" type="text" name="RecipeTitle"></input>
<label>Ingredients</label>
<textarea class="form-control" name="Ingredients" rows="2" cols="5"></textarea>
<label>Procedure</label>
<textarea class="form-control" name="Procedure" rows="5" cols="5"></textarea>
<label>Author</label>
<input class="form-control" type="text" name="author"></input>
</div>
<button class="btn btn-primary" type="submit" name="button">Add</button>
</form>
<%- include("partials/footer") -%>